.btn{
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--space-xxxs) var(--space-m);

    &:hover{
        cursor: pointer;
    }
    &__shop{
        color: var(--color-white);
        background-color: transparent;

        &:hover{
            background-color: var(--color-hover);
            color: var(--color-black);
        }
    }

    &__quantity{
        background-color: transparent;
        padding: var(--space-xxx);
    }

    &__cart{
        background-color: transparent;
        border: none;
        color: var(--color-white);
    }

    &__add{
        background-color: var(--color-light);
    }

}