.cart{
    min-height: 100%;
    width: 400px;
    margin-left: auto;
    margin-right: 0;

    &__content{
        padding: var(--space-m) var(--space-l);
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.cart::backdrop{
    opacity: 1;
}