.header{
    background-color: var(--color-black);

    &__container{
        max-width: 1200px;
        display: flex; 
        justify-content: space-between;
        padding: var(--space-m) var(--space-xxl);
        margin: 0 auto;
    }

    &__nav{
        display: flex;
        gap: var(--space-xxl);
        a{
            &:hover{
                border-bottom: 3px solid var(--color-black);
            }
        }
    }

    a{
        color: var(--color-white);
    }
}