.home{
    position: relative;
    text-align: center;

    &__text{
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        color: var(--color-white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}